<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Comentario</title>
  </head>
  <body> 
   <body> 

     <div class="notas">

       <form action="/" method="post">
         <h3>Registrate</h3>
         <label for="Nombre">Nombre:</label>
         <input type="text" name="Nombre" id="Nombre" placeholder="Escribe Tu Nombre" >
 
         <label for="email">Email:</label>
         <input type="email" name="email" id="email" placeholder="Escribe Tu Correo" >
         <label for="Mensaje">Mensaje:</label>
         <textarea name= "Comentario" id="Mensaje" placeholder="Escribe Tu Mensaje"></textarea>
 
         <input type="submit" value="Listo">
 
        </form>
        <hr/>
        <h2> Quiere regresar a las pagina principal has click <a href="/">aquí</a> </h2>
    </div>
  
   </body>
  </html>

