<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<script src="https://www.google.com/recaptcha/api.js?render=6LeHRlQmAAAAAA2JSmw29nRgbWVVjjG8mb2TIbRc" async defer></script>
	<script>
		function onSubmit(token) {
		  document.getElementById("demo-form").submit();
		}
	  </script>
	<title>curriculum vitae (CV)</title>
</head>
<link rel='stylesheet' href='/stylesheets/style.css' />
<body>


	<div class="xd">
		<h1 class="xd-h1">Katherine Eikar Perez Roman</h1>
			<img class="image" src="/images/Katherine.jpeg" title="Katherine">
			<fieldset>
				<legend>Perfil Personal</legend>
				<ul>
					<li>Documento de Identidad: 29.576.526</li>
					<li>Edad: 23 años</li>
					<li>Direccion: Guarico, San juan de los morros, Venezuela</li>
					<li>Nacionalidad: Venezolana</li>
				
				</ul>
			</fieldset>

			<fieldset>
				<legend>Educación</legend>
				<ul>
					<li>Estudios primario: Unidad educativa Mercedes Rojas de Perez</li>
					<li>Estudios secundarios: Unidad educativa colegio Arquidiocesano "Angel de la guarda"</li>
					<li>Estudios universitarios: Actualmente cursando 5to semestre de ingenieria informatica</li>
                </ul>
			</fieldset>	

			<fieldset>
				<legend>Experiencia laboral</legend>
				<ul>
				     <li>Iskalu Market: administrativo, cajera. 2020 - Actualidad</li>
				</ul>
			</fieldset>	

			<fieldset>
				<legend>Formas de contacto</legend>
				<ul>
					<li><a target= "_blank" href=https://www.facebook.com/katherine.perez.58367?mibextid=ZbWKwL/>Facebook</li>a></li>
					<li><a target= "_blank" href=https://wa.me/584120975410/>WhatsApp<a/></li>
					<li><a target= "_blank" href=https://www.instagram.com/imkatheriners//>Instagram<a/></li>
					<li>Correo electronico: katherineperez125@gmail.com</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend>Habilidades</legend>
				<ul>
					<li>Dominio del ingles fluido (embustera)</li>
					<li>Proactiva</li>
					<li>Excelente bajo presión</li>
					<li>Eficaz, eficiente y veloz a la hora de realizar tareas</li>
					<li>Aprendiendo a programar en html, css, java y C++</li>
					
				</ul>
			</fieldset>
	</div>
	
			<div class="notas">

				<form id="demo-form" action="/" method="post">
				  <h3>Registrate</h3>
				  <label for="name">Nombre</label>
				  <input type="text" name="name" id="name" placeholder="Escribe Tu Nombre" >
				  <label for="country">donde eres</label>
				  <select name="pais">   
					  <option  value="Venezuela">Venezuela</option>
					  <option value="Colombia">Colombia</option>
					  <option value="Brasil">Brasil</option>
					  <option value="Argentina">Argentina</option>
					  <option value="Perú">Perú</option>
					  <option value="Chile">Chile</option>
					  <option value="Ecuardor">Ecuardor</option>
					  <option value="Otro País">Otro País</option>
				  </select>
				  <label for="email">Email</label>
				  <input type="email" name="email" id="email" placeholder="Escribe Tu Correo" >
				  <label for="comment">Mensaje</label>
				  <textarea name= "comment" id="comment" placeholder="Escribe Tu Mensaje"></textarea>
                  <input type="submit" name="submit" value="submit">
				  <button class="g-recaptcha custom-submit-button" 
                    data-sitekey="6LeHRlQmAAAAAA2JSmw29nRgbWVVjjG8mb2TIbRc" 
                    data-callback="onSubmit" 
                    data-action="submit">Verifique si es humano</button>
				  
			
				
				</form>     
			</div> 
</body>
</html>