<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>curriculum vitae (CV)</title>
</head>
<link rel='stylesheet' href='/stylesheets/style.css' />
<body>


	<div class="xd">
		<h1 class="xd-h1">Katherine Eikar Perez Roman</h1>
			<img class="image" src="/images/Katherine.jpeg" title="Katherine">
			<fieldset>
				<legend>Perfil Personal</legend>
				<ul>
					<li>Documento de Identidad: 29.576.526</li>
					<li>Edad: 23 años</li>
					<li>Direccion: Guarico, San juan de los morros, Venezuela</li>
					<li>Nacionalidad: Venezolana</li>
				
				</ul>
			</fieldset>

			<fieldset>
				<legend>Educación</legend>
				<ul>
					<li>Estudios primario: Unidad educativa Mercedes Rojas de Perez</li>
					<li>Estudios secundarios: Unidad educativa colegio Arquidiocesano "Angel de la guarda"</li>
					<li>Estudios universitarios: Actualmente cursando 5to semestre de ingenieria informatica</li>
                </ul>
			</fieldset>	

			<fieldset>
				<legend>Experiencia laboral</legend>
				<ul>
				     <li>Iskalu Market: administrativo, cajera. 2020 - Actualidad</li>
				</ul>
			</fieldset>	

			<fieldset>
				<legend>Formas de contacto</legend>
				<ul>
					<li><a target= "_blank" href=https://www.facebook.com/katherine.perez.58367?mibextid=ZbWKwL/>Facebook<a/></li>
					<li><a target= "_blank" href=https://wa.me/584120975410/>WhatsApp<a/></li>
					<li><a target= "_blank" href=https://www.instagram.com/imkatheriners//>Instagram<a/></li>
					<li>Correo electronico: katherineperez125@gmail.com</li>
				</ul>
			</fieldset>
			<fieldset>
				<legend>Habilidades</legend>
				<ul>
					<li>Dominio del ingles fluido</li>
					<li>Proactiva</li>
					<li>Excelente bajo presión</li>
					<li>Eficaz, eficiente y veloz a la hora de realizar tareas</li>
					<li>Aprendiendo a programar en html, css, java y C++</li>
					
				</ul>
			</fieldset>
	</div>
	<div class="notas">
		<form action="/" method="post">
			 <div>
				 <label for="email">Email</label>
				 <input type="email" name="email" id="email">
			 </div>
			 <div>
				 <label for="name">Nombre</label>
				 <input type="text" name="name" id="name">
			 </div>
			 <div>
				 <label for="comment">Comentario</label>
				 <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
			 </div>
	 
			 <button type="submit">Enviar</button>
		 </form>
    </div>
</body>
</html>