<!DOCTYPE html>
<html>
  <head>
    <title>P2_29576526</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Estudiante de ingenieria en informatica</h1>
    <p>Katherine Perez, seccion 3</p>
  </body>
</html>
