<!DOCTYPE html>
<html>
<head>
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0QX0TJV98S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0QX0TJV98S');
</script>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	
	<title>curriculum vitae (CV)</title>
	
</head>

<body>
	<div class="xd">
		<h1 class="xd-h1">Katherine Eikar Perez Roman</h1>
		<img class="image" src="/images/Katherine.jpeg" title="Katherine">
		<fieldset>
			<legend>Perfil Personal</legend>
			<ul>
				<li>Documento de Identidad: 29.576.526</li>
				<li>Edad: 23 años</li>
				<li>Direccion: Guarico, San juan de los morros, Venezuela</li>
				<li>Nacionalidad: Venezolana</li>
			</ul>
		</fieldset>

		<fieldset>
			<legend>Educación</legend>
			<ul>
				<li>Estudios primario: Unidad educativa Mercedes Rojas de Perez</li>
				<li>Estudios secundarios: Unidad educativa colegio Arquidiocesano "Angel de la guarda"</li>
				<li>Estudios universitarios: Actualmente cursando 5to semestre de ingenieria informatica</li>
			</ul>
		</fieldset>	

		<fieldset>
			<legend>Experiencia laboral</legend>
			<ul>
				<li>Iskalu Market: administrativo, cajera. 2020 - Actualidad</li>
			</ul>
		</fieldset>	

		<fieldset>
			<legend>Formas de contacto</legend>
			<ul>
				<li><a target="_blank" href="https://www.facebook.com/katherine.perez.58367?mibextid=ZbWKwL/">Facebook</a></li>
				<li><a target="_blank" href="https://wa.me/584120975410/">WhatsApp</a></li>
				<li><a target="_blank" href="https://www.instagram.com/imkatheriners/">Instagram</a></li>
				<li>Correo electrónico: katherineperez125@gmail.com</li>
			</ul>
		</fieldset>

		<fieldset>
			<legend>Habilidades</legend>
			<ul>
				<li>Dominio del inglés fluido (embustera)</li>
				<li>Proactiva</li>
				<li>Excelente bajo presión</li>
				<li>Eficaz, eficiente y veloz a la hora de realizar tareas</li>
				<li>Aprendiendo a programar en HTML, CSS, Java y C++</li>
			</ul>
		</fieldset>

		<nav>
			<ul>
			  <li><a href="/contactos">Comentario</a></li>
			</ul>
		  </nav>
	</div>
</body>
</html>